textarea {
    font-family: 'Georgia', serif; 
    font-size: 16px;
    color: #3E2723; 
    background-color: #fbfbdd; 
    border: 2px solid #c5b1a2; 
    border-radius: 8px; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 20px; 
    resize: vertical; 
}

textarea:focus {
    border-color: #3E2723;
    outline: none;
    box-shadow: 0 0 5px rgba(189, 186, 174, 0.6);
}


main {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: #FAF3E0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}


h3 {
    font-family: 'Garamond', serif;
    font-size: 24px;
    color: #3E2723; 
    text-align: center;
    margin-bottom: 15px;
}


label {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #5A3E36; 
    display: block;
    margin-bottom: 8px;
}


select {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #3E2723;
    background-color: #F5F5DC;
    border: 2px solid #8B5E3B; 
    border-radius: 6px;
    padding: 10px;
    width: 100%; 
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


select:hover, select:focus {
    border-color: #FFD700; 
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
    outline: none;
}


p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #5A3E36;
    background-color: #F5F5DC;
    padding: 10px;
    border-radius: 6px;
    border-left: 4px solid #8B5E3B; 
    font-style: italic;
}


label {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #5A3E36; 
    display: block;
    margin: 10px 0 5px;
}


input[type="range"] {
    width: 100%;
    height: 8px;
    background: #8B5E3B; 
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
    -webkit-appearance: none; 
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #FFD700; 
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #D4AF37;
}


input[type="file"] {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #3E2723;
    background-color: #F5F5DC;
    border: 2px solid #8B5E3B;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="file"]:hover {
    background-color: #FFD700;
}


button {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: white;
    background-color: #8B5E3B; 
    border: 2px solid #5A3E36; 
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #FFD700;
    color: #3E2723; 
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
}



